.password-progress {
  width: 100%;
  height: 8px;
  background: #e5e7eb;
  border-radius: 10px;
  overflow: hidden;
  margin-top: 10px;
}

.password-progress-bar {
  height: 100%;
  border-radius: 10px;
  transition:
    width 0.3s ease,
    background-color 0.3s ease;
}

/* Strength colours */
.strength-1,
.strength-2 {
  background: #dc2626;
}

.strength-3 {
  background: #f59e0b;
}

.strength-4,
.strength-5 {
  background: #16a34a;
}

.password-strength {
  font-weight: 600;
  margin: 8px 0;
}

.password-requirements {
  margin-top: 10px;
}

.password-requirements p {
  margin: 5px 0;
  color: #777;
  font-size: 14px;
}

.password-requirements .valid {
  color: #16a34a;
  font-weight: 600;
}

.password-eye {
  position: absolute;
  right: 12px;
  top: 30%;
  transform: translateY(-50%);

  width: 24px !important;
  height: 24px !important;
  min-width: 24px !important;
  min-height: 24px !important;

  padding: 0 !important;
  margin: 0 !important;

  border: none !important;
  outline: none;

  background: transparent !important;
  box-shadow: none !important;

  color: var(--muted-text);
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  z-index: 2;
}

.password-eye:hover {
  background: transparent !important;
  box-shadow: none !important;
  color: var(--primary-blue);
}

.password-eye:focus {
  background: transparent !important;
  box-shadow: none !important;
  outline: none;
}

.password-eye:active {
  background: transparent !important;
  box-shadow: none !important;
}

.password-eye .material-symbols-rounded {
  font-size: 21px;
  line-height: 1;
  transition:
    transform 0.25s ease,
    color 0.2s ease;
}

.password-eye:active .material-symbols-rounded {
  transform: scale(0.8);
}
